body{
    background-color: rgb(204, 204, 204);
}

h1{
    text-align: center;
}

#playlist{
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

a{
    text-decoration-line: none;
    color: black;
}

h2{
    text-align: center;
}

#vid_aud{
    width: 80%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/* .player_one .player_two{
    width: 100%;
} */

video{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

audio{
    width: 100%;
}

p{
    text-align: left;
}